@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100vh;
    width: 100vw;
}

#root
{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: ivory;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
}

/* HEADER */
.menu_header{
    width: 65vw;
    margin-right: 5vw;
    /* background: linear-gradient(gray, white); */
    display: flex;
    padding: 0px 10px 0px 10px;
    justify-content: space-between;
    align-items: center;
}
.menu_header > a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.272);
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgb(107, 107, 107);
    transition: all 250ms ease-in-out;
}
.menu_header > a:hover{
    text-decoration: none;
    color:rgb(0, 0, 0);
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgb(107, 107, 107);
    transition: all 250ms ease-in-out;
    backdrop-filter: blur(10px);
}

@media screen and (max-width: 900px) {
    .menu_header{
        visibility: hidden;
    }
}
/* HEADER */


/* PREMIERE PAGE */

#one {
    height: 100vh;
    width: 100vw;
    color: black;
    scroll-snap-align: start;
    background-color: white;
    scroll-snap-type: y mandatory;
}
#three {
    height: 100vh;
    width: 100vw;
    color: black;
    scroll-snap-align: start;
    background-color: white;
    scroll-snap-type: y mandatory;
}
.grid_container{
    padding: 50px 70px 0 70px;
    
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    gap: 10px;
}


.grid_item1{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
}
.grid_item1 > h5{
    text-align: center;
    width: 100%;
    display: block;
    margin: auto 0 auto 0;
}
.grid_item2{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
}
.grid_item2 > h1, p{
    text-align: center;
    width: 100%;
    display: block;
    margin: auto 0 auto 0;
}
.grid_item3{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: red;
}
.grid_item4{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
    display: flex;
    transition: 2s ease-in-out;
    
}

.grid_item4 > a{
    text-align: center;
    width: 100%;
    color: black;
    background-color:#FFF5EE;
    display: block;
    margin: auto 0 auto 0;
    text-decoration: none;
    scroll-behavior: smooth;
    padding: 15px 15px 15px 15px;
    border-radius: 25px;
    box-shadow: 0px 0px 0px rgb(107, 107, 107);
    transition: all 250ms ease-in-out;
    border: solid 2px black;
}
.grid_item4 > a:hover{
    text-align: center;
    color: #FFF5EE;
    background-color: black;
    width: 100%;
    display: block;
    margin: auto 0 auto 0;
    text-decoration: none;
    scroll-behavior: smooth;
    padding: 15px 15px 15px 15px;
    border-radius: 25px;
    box-shadow: 0px 10px 10px rgb(107, 107, 107);
    transition: all 250ms ease-in-out;
}
@media screen and (max-width: 900px) {
    .grid_container{
        padding: 0 5px 0 5px;
        height: 90vh;
    }
    .grid_item4 > a{
        box-shadow: inset 0px 4px 4px rgb(107, 107, 107);
    }
    .grid_item4{
        width: 40vw;
    }
}
/* PREMIERE PAGE */

/* DEUXIEME PAGE */
#two {
    height: 100vh;
    width: 100vw;
    color: black;
    scroll-snap-align: start;
    background-color: white;
    scroll-snap-type: y mandatory;
}
.grid_container_two{
    padding: 50px 10vw 50px 10vw;
    
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    grid-template-rows: 23% 23% 23% 23% ;
    gap: 20px;
}
.griditem1_two{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.griditem1_two > h3{
    width: fit-content;
    
}
.griditem2_two{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; 
}
.griditem2_two >p{
   text-align: start;
}
.griditem3_two{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px gray;
    display: flex;
    flex-direction: column;
}
.griditem4_two{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px gray;
    display: flex;
    flex-direction: column;
}
.griditem5_two{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px gray;
    display: flex;
    flex-direction: column;
}
.griditem6_two{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px gray;
    display: flex;
    flex-direction: column;
}
.griditem7_two{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px gray;
    display: flex;
    flex-direction: column;
}
.griditem8_two{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px gray;
    display: flex;
    flex-direction: column;
}
p {
 margin-top: 10px;   
}
.img{
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 5px;
/*     box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.582); */
}
.la3D{background-image: url(./img/3D.jpg);}
.la2D{background-image: url(./img/2D.jpg);}
.video{background-image: url(./img/video.jpg);}
.unity{background-image: url(./img/unity.jpg);}
.figma{background-image: url(./img/figma.jpg);}
.serif{background-image: url(./img/serif.jpg);}
.card_two_div{
    text-align: start;
}
.card_two_h5{
    text-align: start;
    font-weight: normal;
    color: rgb(37, 37, 37);
}
.card_two_p{
    text-align: start;
    font-size: small;
    color: rgb(58, 58, 58);
    font-style: italic;
}


.card{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px gray;
    transition: 250ms ease-in-out;
}
.card:hover{
    box-shadow: 4px 4px 8px gray;
    transition: 250ms ease-in-out;
    cursor: pointer;
}
@media screen and (max-width: 900px) {
    .grid_container_two{
        padding: 50px 10vw 0px 10vw;
        width: 100vw;
        height: 95vh;
        display: flex;
        flex-direction: column;
    }
    .griditem3_two, .griditem4_two, .griditem5_two, .griditem6_two, .griditem7_two, .griditem8_two {
        height: 30%;
        border-radius: 50px;
        width: 98%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img{
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        height: 0;
        width: 0;
    }
    .card_two_div {
        text-align: start;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 5% 0 5% 10px;
      }
      .card_two_h5, .card_two_p{
        background-color: rgba(0, 0, 0, 0.356);
        width: fit-content;
        color: white;
      }
      .card_link {
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: flex;
      }
    .img1{background-image: url(./img/3D.jpg);}
    .img2{background-image: url(./img/2D.jpg);}
    .img3{background-image: url(./img/video.jpg);}
    .img4{background-image: url(./img/unity.jpg);}
    .img5{background-image: url(./img/figma.jpg);}
    .img6{background-image: url(./img/serif.jpg);}
}
/* DEUXIEME PAGE */

.label > div
{
    font-family: Helvetica, Arial;
    position: absolute;
    overflow: hidden;
    user-select: none;
    height: fit-content;
}

.label {
    position: fixed !important;
}

.label > div > p {
    text-align: start;
    background: #00000088;
    color: white;
    padding: 5px;
    white-space: nowrap;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.label > div > p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.divTower{
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 260px;
    align-items: center;
    position: relative;
    margin-top: 15px;
    justify-content: space-between;
}

.linkTower{
    color: rgba(255, 255, 255, 0.515);
    text-decoration: none;
    background: #00000088;
    border-radius: 5px;
    /* position: relative; */
    top: 10px;
    padding: 5px 5px 5px 5px;
    transition: 300ms ease-in-out;
}
.linkTower:hover{
    color: white;
    text-decoration: none;
    background: #000000c7;
    border-radius: 5px;
    /* position: relative; */
    top: 10px;
    padding: 5px 5px 5px 5px;
    transition: 300ms ease-in-out;
}
.linkTower > svg{
    height: 15px;
    width: 15px;
    opacity: 50%;

    
    transition: 0.2s ease-in-out;
    position: relative;
    top: 3px;
}

.label > div > p > a:hover {
    text-decoration: underline;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 900px){
    .label > div > p{
        font-size: large;
        background: #000000a8;
    }
}


header{
    position: fixed;
    z-index: 10;
    width: 100vw;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
}

header > svg{
    height: 40px;
    width: 40px;
    opacity: 50%;
    transition: 0.2s ease-in-out;
}

header > svg:hover{
    height: 40px;
    width: 40px;
    opacity: 100%;
    transition: 0.2s ease-in-out;
}


h1 {
    margin-top: 0;
    font-size: 11.089rem;
  }
  
  h2 {font-size: 6.854rem;}
  
  h3 {font-size: 4.236rem;}
  
  h4 {font-size: 2.618rem;}
  
  h5 {font-size: 1.618rem;}

  p{font-size: 1.1rem;}
  a{font-size: 1rem;}
  
  small, .text_small {font-size: 0.618rem;}

@media screen and (max-width:900px) {
    h1 {
        margin-top: 0;
        font-size: 4.209rem;
    }

    h2 {font-size: 3.157rem;}

    h3 {font-size: 2.369rem;}

    h4 {font-size: 1.777rem;}

    h5 {font-size: 1.333rem;}

    p{
        font-size: 1rem;
    }

    small, .text_small {font-size: 0.75rem;}

    small, .text_small {font-size: 0.618rem;}
}



   /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 50px;
    border: 1px solid #888;
    width: fit-content; /* Could be more or less, depending on screen size */
    max-width: 90vw;
    border-radius: 40px;
    box-shadow: inset 0px 4px 4px rgb(107, 107, 107);
  }
  .modal-content > p{
    margin-top: 10px;
    font-size: 1.2rem;
  }
  /* The Close Button */
  .close {
    color: #aaa;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
  }
  .close > p{
    width: fit-content;
    padding: 5px 20px 5px 20px;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 50px;
    color: black;
    box-shadow: 0px 0px 0px rgb(107, 107, 107);
    transition: all 250ms ease-in-out;
  }
  
  .close > p:hover,
  .close:focus {
    color: white;
    background-color: black;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgb(107, 107, 107);
    transition: all 250ms ease-in-out;
  } 

  /* MODAL TRAVAUX */
  .workModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .workModal-content {
    background-color: #fefefe;
    margin: 50px auto; /* 15% from the top and centered */
    padding: 50px;
    border: 1px solid #888;
    width: 90vw; /* Could be more or less, depending on screen size */
    border-radius: 40px;
    box-shadow: 0px 4px 4px rgb(107, 107, 107);
    height: fit-content;
    color: black;
  }
  .workClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .workClose:hover,
  .workClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .section_in_modal > p{
    width: 100%;
    text-align: center;
    white-space: none;
  }
  .workLink{
    text-decoration: none;
    font-style: italic;
  }
  .workLink:hover{
    text-decoration: underline;
    font-style: italic;
  }

  .media{
    width: 49%;
    margin: 20px 0px 20px 0px;
    border-radius: 20px;
    aspect-ratio: 16/9;
    box-shadow: 0px 4px 10px gray;
    object-fit: cover;
  }
  .double_section {
    display: flex;
    justify-content: space-between;
  }
  .simple_section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  @media screen and (max-width:900px){
    .workModal-content > iframe, img{
        width: 95%;
        margin: 20px 0 20px 0;
        border-radius: 20px;
        aspect-ratio: 16/9;
        box-shadow: 0px 4px 10px gray;
      }
  }
  .workModal-content > p{
    width: 95%;
    text-align: start;
    white-space: none;
  }
  .section_in_modal{
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 50px;
  }


  .skill{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .skill_container{
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .skill_section{
    width: 7rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 4px #b7b7b775;
    padding: 10px;
    border-radius: 20px;
    margin: 5px 10px 5px 10px;
  }
  .skill_section > p{
    font-size: small;
    font-style: italic;
  }
  .p_logiciels{
    font-size: small;
    font-style: italic;
    margin-bottom: 20px;
  }
  .logiciels{
    font-size: small;
    font-style: italic;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
    transition: 250ms ease-in-out;
    background-color: rgb(95, 95, 95);
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
  }
  
  .logiciels:hover{
    font-size: small;
    font-style: italic;
    margin-bottom: 20px;
    color: white;
    background-color: black;
    transition: 250ms ease-in-out;
  }
  .skill_img{
    width: 25px;
    height: 25px;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 5px;
  }
  .skill_img1{background-image: url(https://i.ibb.co/4415NMp/lighing.png);}
  .skill_img2{background-image: url(https://i.ibb.co/RjpxQvs/chart.png);}
  .skill_img3{background-image: url(https://i.ibb.co/gJRd2fs/particles.png);}
  .skill_img4{background-image: url(https://i.ibb.co/ZdRSy8R/shaers.png);}
  .skill_img5{background-image: url(https://i.ibb.co/X2NTpsk/compositing.png);}
  .skill_img6{background-image: url(https://i.ibb.co/R3RhbV6/drivers.png);}
  .skill_img7{background-image: url(https://i.ibb.co/jTWyywK/bone.png);}
  .skill_img8{background-image: url(https://i.ibb.co/tsN3SB1/nodes.png);}
  .skill_img9{background-image: url(https://i.ibb.co/n1q6KN0/cube.png);}
  .skill_img10{background-image: url(https://i.ibb.co/F0bhRnr/paint.png);}
  .skill_img11{background-image: url(https://i.ibb.co/418ph7D/UV.png);}
  .skill_img12{background-image: url(https://i.ibb.co/c8RNDmw/sound.png);}
  .skill_img13{background-image: url(https://i.ibb.co/5nwNqz6/cut.png);}


  @media screen and (max-width: 900px) {
    .workModal-content {
        padding: 12px;
        border-radius: 20px;
    }
    .double_section{
        flex-direction: column;
    }
    .media{
        width: auto;
    }
    .section_in_modal > p{
        width: 103%;
    }
    .section_in_modal {
        padding: 0px;
        border-radius: 25px;
        margin-bottom: 50px;
      }
    .skill_container {
        width: fit-content;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto;
      }
  }
  /* MODAL TRAVAUX */


/* GRID CONTAINER THREE */
.grid_container_three{
    padding: 50px 10vw 50px 10vw;
    
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    grid-template-rows: 23% 23% 23% 23% ;
    gap: 20px;
}
.grid_item1_three{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
}
.grid_item2_three{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    padding: 10px 0 10px 0;
}
.grid_item3_three{
    grid-column: 1 / 4;
    grid-row: 3 / 5;
    justify-content: center;
    display: flex;
  }

.align_p{
    margin: 0;
    width: auto;
    text-align: start;
    font: 1.2rem;
    color: black;
}
.profil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}
#p1{
    margin-top: 10px;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.77);
}
#p2{
    font-size: 0.9rem;
    margin: 0;
    color: rgba(0, 0, 0, 0.533);
}
.grid_item3_three > p{
    font-size: 1.1rem;
    width: 40vw;
    align-items: center;
    display: flex;
    margin: auto;
}
.profil > img{
    height: 26%;
    border-radius: 20px;
    margin-top: 10px;
}
#p3{
    font-size: 1.1rem;
    width: 63vw;
    align-items: center;
    display: flex;
    padding: 20px;
    background-color: #0000001c;
    border-radius: 10px;
    color: black;
    margin: 10px 0 0 0;
}

@media screen and (max-width: 900px){
    #p3{
        width: 91vw;
    }
    .grid_item3_three {
        margin-top: 50px;
      }
    .grid_item2_three{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        padding: 10px 0 10px 0;
    }
    .grid_container_three {
        padding: 50px 10vw 0px 10vw;
        width: 100vw;
        height: 95vh;
        display: flex;
        flex-direction: column;
    }
    .align_p{
        margin: 0;
        width: auto;
        text-align: center;
    }
    .profil > img{
        height: 40%;
        margin: 10px 0 0 0;
        border-radius: 20px;
        aspect-ratio: 0;
        box-shadow: none;
        height: auto;
        width: 30%;
    }
    #one {
        height: 100vh;
        width: 100vw;
        color: black;
        background-color: white;
        scroll-snap-align: none;
        scroll-snap-type: none;
    }
    #two {
        height: 120%;
        width: 100vw;
        color: black;
        background-color: white;
        scroll-snap-align: none;
        scroll-snap-type: none;
    }
    #three {
        height: 140%;
        width: 100vw;
        color: black;
        background-color: white;
        scroll-snap-align: none;
        scroll-snap-type: none;
    }
    #root
{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: ivory;
    scroll-snap-align: none;
    scroll-snap-type: none;
}
}
